:root {
  --aqua: #00c1b5;
  --orange: #ff651a;
  --yellow: #ffbe00;
  --ocean-blue: #1d3fbb;
  --red: #e30512;
  --brown: #4d3907;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  & h1 {
    color: #242021;
    font-weight: 700;
  }
  & a {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 600;
    color: #d4d0cb;
  }
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--brown);
  img {
    width: 425px;
  }
  & h3 {
    color: #d4d0cb;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  & a {
    color: #d4d0cb;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  & p {
    color: #d4d0cb;
    font-weight: 600;
    padding-bottom: 1rem;
  }
}
