* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0 auto;
  max-width: 1600px;
  background-color: #f2f2f2;
}
.main-container {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  width: 100%;
  background-color: white;
}

header {
  padding: 1rem 2rem;
  height: 4rem;
  width: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

header menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header menu nav {
  display: flex;
  gap: 2.5rem;
}

header menu nav a {
  color: #000;
  font-size: 1.2rem;
}
header menu nav a .orange {
  color: #ff764d;
}

header menu .right-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}
header menu .right-header button {
  border: none;
  background-color: transparent;
  font-weight: 600;
}

main nav {
  margin: 2rem 1rem;
  display: flex;
  gap: 2rem;
}
main nav a {
  font-weight: 600;
}
main section {
  display: flex;
  justify-content: center;
  width: 100%;
}
main img {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  aspect-ratio: 3/2;
}
.image-hero svg {
  position: absolute;
  top: 45%;
}

main .section-text {
  padding: 10rem 0rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-wrap: pretty;
  gap: 1rem;
}
main .section-text :first-child {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.8rem;
}
main .section-text :last-child {
  font-size: 1.2rem;
  line-height: 2rem;
}

main .yellow-square {
  position: relative;
  width: 100%;
}

main .yellow-square div {
  position: absolute;
  top: 10rem;
  right: 0rem;
  height: 800px;
  width: 900px;
  background-color: rgb(246, 246, 174);
}

main .yellow-square .people-walk {
  right: 15px;

  width: 550px;
  height: 350px;
  margin-top: 25rem;
}
main .yellow-square .computer {
  width: 650px;
  height: 650px;
  margin-top: 16rem;
}

main .green-square {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1100px;
}

main .green-square .green {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 1200px;
  width: 1000px;
  background-color: rgb(193, 255, 193);
}
main .green img {
  width: 600px;
  padding-right: 5rem;
}
main .green img:last-child {
  position: absolute;
  right: 5rem;
  top: 12rem;
  aspect-ratio: 1/1;
  width: 700px;
}
main .graphic img {
  width: 1300px;
  aspect-ratio: 16/9;
}

main .purple-square {
  margin: 0 auto;
  position: relative;
  width: 1100px;
  height: 950px;
}

main .purple-square .purple {
  background-color: rgb(195, 165, 223);
  width: 100%;
  height: 100%;
}

main .purple-square img {
  position: absolute;
  width: 500px;
}

main .purple-square img:first-of-type {
  aspect-ratio: 4/3;
  top: 300px; /* Posición en la parte superior */
  left: -80px; /* Alineación a la izquierda */
}

main .purple-square img:last-of-type {
  width: 650px;
  aspect-ratio: 1/1;
  top: 180px;
  right: -250px; /* Posición en la parte superior */
}
main .blue-section {
  display: flex;
  padding: 0 10rem;
  height: 40rem;
  margin-bottom: 10rem;
}
main .blue-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightskyblue;
  width: 50%;
}
main .blue-section div p {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.8rem;
  padding: 0 7rem;
}
main .blue-section div a {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.8rem;
  padding: 0 7rem;
  padding-top: 2rem;
}
main .blue-section img {
  width: 50%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 10rem;
  padding-top: 8rem;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 800px;
  line-height: 1.5rem;
}
footer h3 {
  grid-column: 1/-1;
  font-size: 4rem;
}
footer div {
  display: flex;
  flex-direction: column;
}
footer div p:first-child {
  font-weight: bold;
}
.email {
  margin-top: 1rem;
}
.email input {
  height: 2rem;
  width: 75%;
  background-color: #eee;
  border: none;
  padding: 1rem;
}
.email button {
  background-color: blue;
  height: 2rem;
  width: 20%;
  color: #fff;
  font-weight: 600;
  border: none;
}

.language-select {
  flex-grow: 0.25;
  height: 1.8rem;
  border: none;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: #ddd;
}
.location-select {
  flex-grow: 0.4;
  height: 1.8rem;
  border: none;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: #ddd;
}
.languages {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.language p {
  margin-bottom: 0.5rem;
}
.footer-links-logo {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-links-logo .footer-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
}
footer .footer-links-logo .logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
}
